*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 500;
}
  
html {
    font-size: 62.5%;
}
  
body {
    background-color: #F4F6F8;
}
  
.main {
    max-width: 110rem;
    margin: 0 auto;
}
  
@import"./utils/variables";
@import"./components/darkmode";