// PRIMARY COLOR
$primary-color: #5964E0;
$primary-color-light: #939BF4;
$primary-color-dark: #19202D;
$primary-color-darker: #121721;

// SECONDARY
$secondary-color: #F4F6F8;
$secondary-color-light: #FFF;
$secondary-color-dark: #9DAEC2;
$secondary-color-darker: #6E8098;