@import '/src/sass/utils/variable';

// GENERAL STYLE
.modalBackground {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}

.searchModal {
    background-color: $primary-color-dark;
    position: relative;
    top: 18rem;
    margin: 2rem;
    border-radius: .7rem;
    z-index: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

// LOCATION INPUT
.locationInput {
    display: flex;
    align-items: center;
    padding: 2rem;
    border-bottom: 1.5px solid rgba(255, 255, 255, 0.082);
}

.locationInput__icon {
    margin-right: 1.5rem;
}

.locationInput__input {
    border: none;
    background-color: $primary-color-dark;
    font-size: 1.6rem;
    font-weight: 500;
}

// FULLTIME CHECKBOX
.fullTimeInput {
    display: flex;
    align-items: center;
    padding: 2rem;
}

.fullTimeInput__check {
    margin-right: 2rem;
    transform: scale(2);
    transform-origin: left;
}

.fullTimeInput__label {
    font-size: 1.6rem;
    font-weight: 700;
    color: $secondary-color-light;
}

// SUBMIT BUTTON
.searchModal__btn {
    font-size: 1.6rem;
    padding: 1.5rem 2rem;
    margin: 1rem 2rem 2rem;
    border: none;
    color: $secondary-color-light;
    background-color: $primary-color;
    border-radius: .5rem;
}